/* http://jsfiddle.net/ywySt/ */
/* https://github.com/twitter/bootstrap/issues/1671 */

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #99FF66; 
}

canvas {
    border: 1px solid #9C9898;
}
.cogfut-container{
    position: relative;
    top: 41px;
    left: 20%;
    width: 60%;
    height: 92%;
    border: 10px solid;
    background-color:grey;
}
.field-info-container{
    position: absolute;
    top: 41px;
    width: 20%;
    height: 92%;
}
.info-tooltip-button{
    position : absolute;
    top: 35%;
}
.container-footer-div{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 2px; 
}
.login-name{
    text-transform: capitalize;
}
.login-name-text{
    color: aqua;
}
.profile-info-div{
    width:50%;
}
.information-div{
    width:49%;
    height: 100%;
}
